nav{
    box-sizing: border-box;
    padding: 0 100px !important;
    position: fixed !important;
    width: 100%;
    z-index: 15;
}

.navbar{
  background-color: #16305cd6 !important;
  text-transform: uppercase;
}

.nav-item{
  margin: 0 10px;
}

.carousel img {
  height: 600px;
  margin-top: 10px;
  margin-top: 0;
  filter: brightness(40%);
}
.carousel{
  width: 100%;
  margin: 0 auto;
  box-shadow: 10px 10px 20px 0px;
}

.instructions{
  box-sizing: border-box;
  color: #ffffff;
  padding: 10px 20px;
  background-color: green;
}

.margin{
  padding-top: 73px;
}

.instr-h1{
  display: inline;
}

.instr-ul{
  float: right;
}
.instr-ul li{
  display: inline;
  margin-left: 20px;
}
.instr-ul li a{
  color: #fff;
  font-weight: 500;
}


.input-group{
  width: 40%;
}
.form-inline.d-flex{
  padding: 10px;
  margin: 10px;
  margin: 0 auto;
}

.form-inline.d-flex .form-control{
  width: 30rem;
  color: #fff;
}

@media (max-width: 1320px){
  .form-inline.d-flex .form-control{
    width: 20rem;
  }
}

.fa-search{
  margin-left: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

.login{
  float: right;
  margin: 0;
}

.login li{
  display: inline;
  margin: 0 20px;
  margin: 0 10px;
}

.login li a {
  color: #ffffff;
}